<div id="<%= dom_id wish %>">
  <p>
    <strong>Title:</strong>
    <%= wish.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= wish.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= wish.price %>
  </p>

</div>
