<p style="color: green"><%= notice %></p>

<h1>Wishes</h1>

<div id="wishes">
  <% @wishes.each do |wish| %>
    <%= render wish %>
    <p>
      <%= link_to "Show this wish", wish %>
    </p>
  <% end %>
</div>

<%= link_to "New wish", new_wish_path %>
