<div id="<%= dom_id wlist %>">
  <p>
    <strong>Title:</strong>
    <%= wlist.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= wlist.user_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= wlist.type %>
  </p>

</div>
